.services {
  display: flex;
  height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ss1 {
  font-size: 28px;
  font-weight: 100;
}
.ss2 {
  font-size: 24px;
}
.ss3 {
  font-size: 18px;
}
.ss4 {
  font-size: 14px;
}
