.profile {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.profile_head {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__headImage {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 999px;
  border: 1px solid black;
}
.profile_headData {
  padding: 15px;
}

.profile__info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.profile__info > p {
  padding-left: 10px;
  padding-top: 5px;
}
.profile__body {
}
.profile__bookings {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__bookings > h1 {
  padding: 20px;
}
@media screen and (max-width: 946px) {
  .profile {
    flex-direction: column;
  }
  .profile_head {
    margin: auto;
  }
}
