* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

/* font sizes */
.f-head {
  font-size: 32px;
}
.f-shead {
  font-size: 26px;
}
.f-text {
  font-size: 18px;
}
.f-con {
  font-size: 15px;
}
/* colors */
/* light */
.c-blue {
  color: #7bdff2;
}
.c-teal {
  color: #b2f7ef;
}
.c-offWhite {
  color: #eff7f6;
}
.c-cherry {
  color: #f7d6e0;
}
.c-candyPink {
  color: #f2b5d4;
}
/* dark */
.c-black {
  color: #353535;
}
.c-niceGreen {
  color: #1ad376;
}
.c-white {
  color: #ffffff;
}
.c-gray {
  color: #d9d9d9;
}
.c-navyBlue {
  color: #284b63;
}
