.signUp {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signUp__backgroundImage {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  max-height: 100%;
}

.signUp__form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 40px;
  margin-top: -25px;
  background-color: rgb(237, 238, 245);
 
}
.signUp__title {
  font-size: 35px;
  font-weight: bolder;
  margin: 2px auto 15px auto;
  
  color: rgb(101, 188, 199);
  
}
.signUp__fields {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}
.signUp__form--inputArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  width: 100%;
  min-width: 30vw;
  
  
}
.signUp__label {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight:600;
  margin-left: 10px;
}
.signUp__input {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  background: transparent;
  border: 1px solid;
  border-radius: 5px;
  height: 40px;
  font-size: 15px;
  font-weight:lighter;
}
.signUp__button {
  margin: 20px auto;
  width: 50%;
  height: 40px;
  outline: none;
  background-color: rgb(68, 86, 243);
  border: none;
  border-radius: 999px;
  color: white;
  font-size: large;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
.signUp__button:hover {
  background-color: rgb(101, 188, 199);;
}
.signUp--error {
  position: absolute;
  right: 0;
  color: red;
  margin-left: 100px;
}

@media screen and (max-width: 960px) {
  .signUp__form {
    width: 90%;
  }
}
